<div class="topnav">
  <img src="../images/logo.png" alt="">
  <a class="active" href="/">Home</a>
  <a href="/channels">Channels</a>
  {{#unless username}}
  <a href="/register">Register</a>
  {{/unless}}
  {{#if username}}
  <a href="/mychannels/{{id}}">My Channels</a>
  <a href="/createchannel">Create Channel</a>
  <a href="/myvideos/{{id}}">My Videos</a>
  <a href="/createvideo">Create Video</a>
  {{/if}}
  {{#if username}}
  <div class="login-container">
    <a href="/">Logged as : {{username}}</a>
    <a href="/logout">Logout</a>
  </div>
  {{else}}
  <div class="login-container">
    <form role="form" action="/login" method="post">
      <input type="text" placeholder="Username" name="username">
      <input type="password" placeholder="Password" name="password">
      <button type="submit">Login</button>
    </form>
  </div>
  {{/if}}
<div class="search-container">
  <form role="form" action="/result" method="get">
  <input type="text" placeholder="Buscar" name="search">
  <button id="btn" type="submit">Buscar Video</button>
  </form>
  </div>
</div>
