<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/channels">Channels</a>
  <a href="#contact">My Channel</a>
  {{#if username}}
  <div class="login-container">
  <a href="/">Logged as: {{username}}</a>
  <a href="/logout">Logout</a>
  </div>
  {{else}}
  <div class="login-container">
    <form role="form" action="/login" method="post">
      <input type="text" placeholder="Username" name="username">
      <input type="password" placeholder="Password" name="password">
      <button type="submit">Login</button>
    </form>
  </div>
  {{/if}}

</div>