<form name="addvideos" class="form-signin" role="form" action="/api/addvideos/{{id}}" method="post">
  <h2 class="form-signin-heading">Add Videos here</h2>
  <input class="form-control" type="text" name="url" placeholder="Url" />
  <button class="btn btn-lg btn-primary btn-block" type="submit">Add video</button>
</form>