<form class="form-signin" role="form" action="/api/createvideo" method="post">
        <input class="form-control" type="text" name="nombreVid" id="inputNameVid" placeholder="Nombre del Video" required="required"
        autofocus="autofocus" />
    <input class="form-control" type="text" name="url" id="inputurl" placeholder="Url" required="required" />
    <button class="btn btn-lg btn-primary btn-block" type="submit">CREATE</button>
</form>