<div id="main-content">

</div>
<script rel='text/javascript' src='/javascripts/indexT.js' /></script>
<script id="index-template" type="text/x-handlebars-template">
 <h4>\{{ title }}</h4>
    <iframe width="560" height="315" src="\{{url}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    <h4>\{{ user }}</h4>
</script>