<h1>MY CHANNELS!</h1>
{{#each channels}}
<form method="GET" action="/addvideos/{{this._id}}">
    <h1>{{ this.nombre }}</h1>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Add videos</button>
    <div id="channel-container"></div>
    {{#each this.videos}}
    <iframe width="560" height="315" src="{{this}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    {{/each}}
    <div id="channel-container"></div>
</form>
{{/each}}