<h1>MY CHANNELS!</h1>
<div id="main-content">

</div>

<script rel='text/javascript' src='/javascripts/mychannelsT.js' /></script>

<script id="channel-template" type="text/x-handlebars-template">
    <div class="channel-container" id="\{{id}}">
        <h1>\{{ nombre }}</h1>
    </div>
</script>

<script id="video-template" type="text/x-handlebars-template">
    <div id="video-container">
        <iframe width="560" height="315" src="\{{url}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
        <h4>\{{user}}</h4>
    </div>
</script>